{% extends "base.html" %}
{% load static %}

{% block title %}
    MY Blog
{% endblock %}
{% block css_file %}
     <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">

{% endblock %}

{% block content %}


{#    <h1>Welcome to my blog</h1>#}
    <section id="welcome">
    <header>
        <img src="{%static "blog/images/abeni.png"  %}" alt="Abenezer - the Autor of This Blog" />
        <h2>𝙰𝚋𝚎𝚗𝚎𝚣𝚎𝚛'𝚜 𝙱𝚕𝚘𝚐</h2>

    </header>
    <p>𝐻𝐼,𝐼 𝒶𝓂 𝒜𝒷𝑒𝓃𝑒𝓏𝑒𝓇 𝒶𝓃𝒹 𝐼 𝓁𝑜𝓋𝑒 𝓉𝑜 𝒷𝓁𝑜𝑔 𝒶𝒷𝑜𝓊𝓉 𝓉𝑒𝒸𝒽 𝒶𝓃𝒹 𝓉𝒽𝑒 𝓌𝑜𝓇𝓁𝒹!</p>
    </section>
    <div class="container">
  <div class="box">
    <div class="imgBx">
      <img src="{% static "blog/images/python1.jpg" %}">
    </div>
    <div class="content">
      <div>
        <h2>Image Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
        </p>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="imgBx">
      <img src="{% static "blog/images/web3.0.jpg" %}">
    </div>
    <div class="content">
      <div>
        <h2>Image Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.
        </p>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="imgBx">
      <img src="{% static "blog/images/ai.png" %}">
    </div>
    <div class="content">
      <div>
        <h2>Image Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Commodi accusamus molestias quidem iusto.
        </p>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="imgBx">
      <img src="{% static "blog/images/possibility.png" %}">
    </div>
    <div class="content">
      <div>
        <h2>Image Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Commodi accusamus molestias quidem iusto.
        </p>
      </div>
    </div>
  </div>
</div>
    <section  id="latest-posts">
    <h2>█▓▒▒░░░𝙼𝚢 𝙻𝚊𝚝𝚎𝚜𝚝 𝚃𝚑𝚘𝚞𝚐𝚑𝚝𝚜░░░▒▒▓█</h2>
    <ul>
        {% for post in posts %}
         {% include "blog/includes/post.html" %}
        {% endfor %}


    </ul>
    </section>
    <div class="gpt3">

     <img id="img2" src="{% static 'blog/images/ai.png'%}" alt="">

    <div class="gpt3_content">
      <h4>should be worried by AI?</h4>
      <h1 class="gradient_text">The possibilities are <br /> beyond your imagination</h1>
      <p>While programmers definitely should not fear AI,
          they should stay abreast of trends and collaborate
          closely with itAI will not replace people; rather,
          those who can efficiently use AI will replace
          those who do not want to or cannot do so1.</p>
      <h3> </h3>

    </div>
  </div>
      <div class="DSA">

     <img id="img3" src="{% static 'blog/images/dsa1.png'%}" alt="">

    <div class="DSA_content">
      <h4>Software engineering is not only a skill, but also an art !</h4>
        <h1 class="gradient_text">“The greatest software is not built overnight; it’s crafted with patience and dedication"<h5>:Programmer World</h5></h1>
      <p>While programmers definitely should not fear AI,
          they should stay abreast of trends and collaborate
          closely with itAI will not replace people; rather,
          those who can efficiently use AI will replace
          those who do not want to or cannot do so1.</p>
      <h3>Ask GPT 3.5 Any Thing </h3>

    </div>
  </div>

    <h3 class="learn"> How to Learn programing language ?</h3>




    <section class='FlexContainer4'>
            <div>
               <button class="button-48" role="button">
                   <span class="text">Python</span></button>
                <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
            </div>
            <div><button class="button-48" role="button">
                   <span class="text">Web 3</span></button>
            <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
            </div>
            <div><button class="button-48" role="button">
                   <span class="text">GAI</span></button>
                <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
            </div>
            <div><button class="button-48" role="button">
                   <span class="text">Data since</span></button>
                <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
            </div>
             <div><button class="button-48" role="button">
                   <span class="text">elechapo</span></button>
                 <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
             </div>
     <div><button class="button-48" role="button">
                   <span class="text">elechapo</span></button>
                 <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
             </div>

        </section>







{% endblock %}

