{% extends "base.html" %}
{% load static %}

{% block title %}
    MY Blog
{% endblock %}
{% block css_file %}
     <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">

{% endblock %}

{% block content %}


{#    <h1>Welcome to my blog</h1>#}
    <section id="welcome">
    <header>
        <img src="{%static "blog/images/Abenezer.jpg"  %}" alt="Abenezer - the Autor of This Blog" />
        <h2>Abenezer's Blog</h2>

    </header>
    <p>HI,I am Abenezer and I love to blog about tech and the world!</p>
    </section>
    <section id="latest-posts">
    <h2>MY Latest Thoughts</h2>
    <ul>
        {% for post in posts %}
         {% include "blog/includes/post.html" %}
        {% endfor %}


    </ul>

    </section>
    <section class='FlexContainer'>
            <div>
                <h2>pythonon</h2>
                <p>Hello! I'm Abenezer Alemayhu, a dedicated
                    and passionate software engineer with a
                    strong commitment to the craft.
                    I have a deep love for coding
                    and have been in the field for several years</p>
            </div>
            <div><h2>pythonon</h2>
                <p>Hello! I'm Abenezer Alemayhu, a dedicated
                    and passionate software engineer with a
                    strong commitment to the craft.
                    I have a deep love for coding
                    and have been in the field for several years</p></div>
            <div><h2>pythonon</h2>
                <p>Hello! I'm Abenezer Alemayhu, a dedicated
                    and passionate software engineer with a
                    strong commitment to the craft.
                    I have a deep love for coding
                    and have been in the field for several years</p></div>
        </section>


            <img id="th" src="{% static "blog/images/th.png" %}" alt=""/>

     <div class="FlexContainer2">
         <h2>my preference</h2>

                <p>Hello! I'm Abenezer Alemayhu, a dedicated
                    and passionate software engineer with a
                    strong commitment to the craft.
                    I have a deep love for coding
                    and have been in the field for several years
                    Hello! I'm Abenezer Alemayhu, a dedicated
                    and passionate software engineer with a
                    strong commitment to the craft.
                    I have a deep love for coding
                    and have been in the field for several years
                </p>
     </div>

    <section class='FlexContainer4'>
            <div>
               <button class="button-48" role="button">
                   <span class="text">Python</span></button>
                <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
            </div>
            <div><button class="button-48" role="button">
                   <span class="text">Web 3</span></button>
            <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
            </div>
            <div><button class="button-48" role="button">
                   <span class="text">GAI</span></button>
                <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
            </div>
            <div><button class="button-48" role="button">
                   <span class="text">Data since</span></button>
                <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
            </div>
             <div><button class="button-48" role="button">
                   <span class="text">elechapo</span></button>
                 <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
             </div>
     <div><button class="button-48" role="button">
                   <span class="text">elechapo</span></button>
                 <h2 style="margin-left: 25px"><button class="button-89" role="button">Roadmap</button></h2>
             </div>

        </section>


           <img id="th2" src="{% static "blog/images/th2.png" %}" alt=""/>


    <div class="FlexContainer3">
         <h2>my preference</h2>

                <p>Hello! I'm Abenezer Alemayhu, a dedicated
                    and passionate software engineer with a
                    strong commitment to the craft.
                    I have a deep love for coding
                    and have been in the field for several years</p></div>



 <div id="about" >
 
<div class="parent">
    <div class="div1">
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
</ul>
    </div>
    <div class="div2">
        <ul>
            <h3>Resources</h3>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
</ul>
    </div>
    <div class="div3">
        <ul>
             <h3>subjects</h3>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
</ul>
    </div>


<div class="vl"></div>


    <div class="div4">
    <ul>
         <h3>Languages</h3>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
</ul></div>
    <div class="div5">
    <ul>
         <h3>Contact me</h3>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        </ul>
    </div>
</div>
</div>
{% endblock %}

