{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">

{% block css_file %} {% endblock %}
</head>
<body>
 <header id="main-navigation">
          <h1> <a href="{% url "starting_page" %}">James's 𝓑𝓵𝓸𝓰</a></h1>
      <nav>
           <a href="{% url "posts-page" %}">𝒂𝒍𝒍 𝒑𝒐𝒔𝒕𝒔</a>
           <a href="{% url "read-later" %}">𝑺𝒕𝒐𝒓𝒆𝒅 𝒑𝒐𝒔𝒕𝒔</a>

      </nav>
    </header>
{%block content  %}
{% endblock %}

<!------ Include the above in your HEAD tag ---------->


        <!--footer-->
<footer >
        <!-- Top Footer Area Start -->
        <p> &copy; Abenezer Alemayhu blog , All rights reserved</p>
    </footer>
</body>
</html>